# SQL

In [ ]:
SELECT
    employee_name
FROM
    employees
WHERE
    salary > (
        SELECT
            AVG(salary)
        FROM
            employees AS avg_salaries
        WHERE
            avg_salaries.department_id = employees.department_id
    );

In [ ]:
SELECT
    region
FROM
    region
WHERE
    date >= CURDATE() - INTERVAL 28 DAY
GROUP BY
    region
ORDER BY
    SUM(revenue) DESC
LIMIT
    1 OFFSET 4;